<div class="column gap-1 wrapper">
    <h2 class="title">{{actor?.name}} Detail</h2>

    <div class="row gap-05">
        <span class="height-label">Name:</span>
        <span class="height">{{actor?.name}}</span>
    </div>

    <div class="row gap-05">
        <span class="height-label">Height:</span>
        <span class="height">{{actor?.height}}</span>
    </div>

    <div class="row gap-05">
        <span class="height-label">BOD:</span>
        <span class="height">{{actor?.birth_year}}</span>
    </div>

    <div class="row gap-05">
        <span class="height-label">Gender:</span>
        <span class="height">{{actor?.gender}}</span>
    </div>

    <div class="row gap-05">
        <span class="height-label">Mass:</span>
        <span class="height">{{actor?.mass}}</span>
    </div>

    <div class="row gap-05">
        <span class="height-label">Skin Color:</span>
        <span class="height">{{actor?.skin_color}}</span>
    </div>

    <div class="row gap-05">
        <span class="height-label">Eye Color:</span>
        <span class="height">{{actor?.eye_color}}</span>
    </div>

    <div class="row gap-05">
        <span class="height-label">Films:</span>
        <div>
            <li *ngFor="let film of actor?.films">{{film}}</li>
        </div>
    </div>

    <div class="row gap-05">
        <span class="height-label">Vehicles:</span>
        <div>
            <li *ngFor="let film of actor?.vehicles">{{film}}</li>
        </div>
    </div>
</div>