<div class="column gap-1 wrapper">
    <h2 class="title">{{actor?.name}} Detail</h2>

    <div class="row gap-05">
        <span class="name-label">Name:</span>
        <span class="name">{{actor?.name}}</span>
    </div>

    <div class="row gap-05">
        <span class="height-label">Height:</span>
        <span class="height">{{actor?.height}}</span>
    </div>

    <div class="row gap-05">
        <span class="bod-label">BOD:</span>
        <span class="bod">{{actor?.birth_year}}</span>
    </div>

    <div class="row gap-05">
        <span class="gender-label">Gender:</span>
        <span class="gender">{{actor?.gender}}</span>
    </div>

    <div class="row gap-05">
        <span class="mass-label">Mass:</span>
        <span class="mass">{{actor?.mass}}</span>
    </div>

    <div class="row gap-05">
        <span class="skin_color">Skin Color:</span>
        <span class="skin_color">{{actor?.skin_color}}</span>
    </div>

    <div class="row gap-05">
        <span class="eye_color">Eye Color:</span>
        <span class="eye_color">{{actor?.eye_color}}</span>
    </div>

    <div class="row gap-05">
        <span class="films-label">Films:</span>
        <div>
            <li *ngFor="let film of actor?.films">{{film}}</li>
        </div>
    </div>

    <div class="row gap-05">
        <span class="vehicles">Vehicles:</span>
        <div>
            <li *ngFor="let film of actor?.vehicles">{{film}}</li>
        </div>
    </div>
</div>